* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #1e1e1e;
    --text-color: #e6e6e6;
    --glitch-orange: #ffae00;
    --glitch-pink: #7e03aa;
    --glitch-blue: #00fffb;
    --soft-blue: #afffff;
}

@font-face {
  font-family: "Pixel";
  src: url(/assets/fonts/PixelifySans-Regular.ttf);
}

@font-face {
  font-family: "Pixel2";
  src: url(/assets/fonts/Tektur-Regular.ttf);
}

body {
  background: 
  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,rgba(126, 3, 171, 0.45) 54% 57%,#0000 59%) 0 calc(128px/2),
  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,rgba(126, 3, 171, 0.45) 54% 57%,#0000 59%) calc(128px/2) 0,
  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,rgba(126, 3, 171, 0.45) 54% 57%,#0000 59%),
  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,rgba(126, 3, 171, 0.45) 54% 57%,#0000 59%),
  #1e1e1e;
background-size: calc(128px/4.667) 128px,128px calc(128px/4.667);
;
}