.hangman-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}
  #word-display,
  #attempts-left,
  #letter-input,
  #guess-button,
  #reset-button {
    margin-bottom: 20px;
}

#guess-button,
#reset-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 7px;
}