h3,
#trivial-btn,
#result-container {
  font-family: "Pixel2";
  color: var(--text-color);
}

h3 {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 15px;
  padding: 4px;
}

#trivial-btn {
  background-color: transparent;
  padding: 6px;
  cursor: pointer;
}

#trivial-btn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#result-container {
  text-align: center;
  margin: 30px 80px 0 80px;
}

#restart-button {
  font-family: "Pixel";
  height: 35px;
  margin-top: 25px;
  width: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid var(--glitch-pink) 1px;
  font-size: 17px;
  color: var(--text-color);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}
