h1 {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-family: "Pixel";
  font-size: 40px;
  text-shadow: 2px 2px 4px var(--glitch-orange);
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  gap: 1rem;
}

.home {
  margin-top: 30px;
}

.home-btn {
  --border-color: linear-gradient(-45deg, var(--glitch-orange), var(--glitch-pink), var(--glitch-blue));
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #1e1e1e;
  --color: #afffff;
  color: var(--color);
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 15px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.6);
  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );
  transition: color 250ms;
  font-family: "Pixel2";
}

.home-btn::after,
.home-btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.home-btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.home-btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.home-btn:where(:hover, :focus)::after {
  clip-path: polygon(
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.home-btn:where(:hover, :focus) {
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}